<!DOCTYPE HTML>
<html lang="en">
<head>
{% load static %}
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>GreatKart | One of the Biggest Online Shopping Platform</title>

{% include 'headreq.html' %}
/// some script
<script>
// jquery ready start
$(document).ready(function() {
	// jQuery code

}); 
// jquery end
</script>

</head>
<body>
{% include 'navbar.html' %}
{% include 'header.html'%}
{% include 'main.html'%}

{% block content %}

{% endblock content %}
{% include 'footer.html' %}


</body>
</html>